.body {
    background-color: beige;
    text-align: center;
}

p, input, td {
    font-size: 11pt;
}

.content {
    max-width: 800px;
    padding-top: 50px;
    padding: 20px;
}

#col-titulo {
    width: 33%;
}
#col-autor {
    width: 20%;
}

header {
    padding: 50px;
    /* background-image: url("../images/livros.jpg"); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/livros.jpg");
}

header h1 {
    color: white;
    font-size: 50pt;
}

header h2 {
    color: white;
}

#search_bar {
    padding-bottom: 60px;
    padding-right: 60px;
}

.hidden {
    visibility: hidden;
}

#id_filter_form > div {
    padding: 5px;
}

#id_filter_form label {
    padding: 5px;
}

.export_button {
    text-align: right;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}